@{
    ViewBag.Title = "Home Page";
}

<nav class="main-nav">
    <ul class="dropDown">

        <li><a href="/exercise">EXERCISE</a></li>

        <li><a href="/diet">DIET</a>
        
            <ul class="dropDown">
            
                <li><a href="/diet/recipes">THIS MONTH'S RECIPES</a></li>
            
                <li><a href="/diet/vegetarian">VEGETARIAN</a></li>

                <li><a href="/diet/vegan">VEGAN</a></li>

                <li><a href="/diet/gluten-free">GLUTEN FREE</a></li>

                <li><a href="/diet/diabetic">DIABETIC</a></li>

                <li><a href="/diet/fasting">FASTING</a></li>
            
            </ul>

        </li>

        <li><a href="/videos">VIDEOS</a></li>

    </ul>

</nav>

<origin-vid>

    The journey begins...

</origin-vid>