@{
    ViewBag.Title = "Home Page";
}

<nav class="main-nav">

    <a href="exercise.html" class="btn btn-info">EXERCISE</a><br />

    <a href="diet.html" class="btn btn-info">DIET</a><br />

    <a href="videos.html" class="btn btn-info">VIDEOS</a>

</nav>

<origin-vid>

    The journey begins...

</origin-vid>